@charset "UTF-8";
:root {
  --color-title: #212121;
  --color-basic: #F5F5F5;
  --color-logotype: #000;
  --color-text-paragraph: #757575;
  --color-white: #FFFFFF;
  --color-button-nav: #2196F3;
  --color-backround: #F5F4FA;
  --color-footer: #2F303A;
  --color-border: #EEEEEE;
  --color-border-heder: #ECECEC;
  --color-icon: #AFB1B8;
  --color-button: #188CE8;
  --color-text:rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--color-white);
  font-family: "Roboto";
  font-style: normal;
  color: var(--color-text-paragraph);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.display-none {
  display: none;
  margin: 0;
}

.becgraund {
  background-color: gray;
}

.button {
  padding: 14px auto;
  height: 48px;
  color: #F3C653;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #FFFFFF;
  border-color: #F3C653;
}
.button__black {
  width: 236px;
  background-color: #000000;
}
.button__gray232 {
  width: 232px;
  background-color: rgba(0, 0, 0, 0.4);
}
.button__gray243 {
  width: 243px;
  background-color: rgba(0, 0, 0, 0.4);
}
.button__gray254 {
  width: 254px;
  background-color: rgba(0, 0, 0, 0.4);
}
.button__gray258 {
  width: 258px;
  background-color: rgba(0, 0, 0, 0.4);
}

.button-reservation {
  padding: 18px auto;
  width: 434px;
  height: 64px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  background-color: #000000;
  border: 1px solid #F3C653;
  border-radius: 25px;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-reservation:hover, .button-reservation:focus {
  color: #000000;
  background-color: #F3C653;
  border-color: #F3C653;
}
.button-reservation__mobile {
  width: 384px;
  padding: 20px auto;
}
.button-reservation__modal {
  width: 592px;
  border-radius: 2px;
}
.button-reservation__mobile-modal {
  width: 384px;
  padding: 20px auto;
  border-radius: 2px;
}

.logotype {
  color: var(--color-logotype);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logotype-web {
  color: var(--color-button-nav);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

/*Хедер*/
.header__border-container {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-border-heder);
  background-color: var(--color-white);
}
.header__link {
  position: relative;
  color: var(--color-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06;
  letter-spacing: 0.02em;
  list-style: none;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--color-button-nav);
}
.header__link--current {
  color: var(--color-button-nav);
}
.header__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-button-nav);
  border-radius: 2px;
}
.header__text {
  color: var(--color-text-paragraph);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-text-paragraph);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__text:hover, .header__text:focus {
  color: var(--color-button-nav);
  fill: var(--color-button-nav);
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 25px 0;
}
@media screen and (max-width: 767px) {
  .header__conteiner {
    padding: 16px 0;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__address {
  display: none;
}
@media (min-width: 767px) {
  .header__address {
    margin-left: 56px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-left: 308px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__menu {
  display: none;
}
@media (min-width: 767px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 88px;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    margin-left: 93px;
  }
}
.header__burger {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  background-color: var(--color-white);
  fill: var(--color-title);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 767px) {
  .header__burger {
    display: none;
  }
}
.header__burger:hover, .header__burger:focus {
  fill: var(--color-button-nav);
}

/*Футер*/
.footer {
  background-color: var(--color-footer);
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 93px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__logotype-socials {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer__logotype-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 165px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer__logotype-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 93px;
  }
}
.footer__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  .footer__logotype {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__contacts {
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__text-color {
  color: var(--color-text);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--color-button-nav);
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .footer__address {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__address:last-child {
  margin-bottom: 0;
}
.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .footer__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
  }
}
.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media (min-width: 1200px) {
  .footer__socials-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__socials-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-white);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: var(--color-button-nav);
  fill: var(--color-white);
}
.footer__form {
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .footer__form {
    margin: 0;
  }
}
.footer__form-mail-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .footer__form-mail-label {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}
.footer__form-mail-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 358px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-footer);
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto 20px auto;
}
@media (max-width: 480px) {
  .footer__form-mail-input {
    width: 258px;
  }
}
@media (min-width: 1200px) {
  .footer__form-mail-input {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__form-mail-input:focus, .footer__form-mail-input:hover {
  border-color: var(--color-button-nav);
}
.footer__form-icon {
  fill: var(--color-white);
}

.button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: var(--color-button-nav);
  border-color: var(--color-button-nav);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-white);
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 1200px) {
  .button-send {
    margin: 0;
  }
}
.button-send:focus, .button-send:hover {
  background-color: var(--color-button);
}/*# sourceMappingURL=main.css.map */