/*Хедер*/
.header{
display: flex;
align-items: center;
padding-top: 24px;

    &__list{
        display: flex;
        align-items: center;
        gap: 72px;
        margin-left: 135px;

    }
    
    &__link{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        fill: #F3C653;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
        padding: 10px 8px 10px 14px;
    }
    
    &__text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #F3C653;
        margin: 0;
    }
    
    &__phone{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    &__socials{
        display: flex;
        align-items: center;
        gap: 23px;
        margin-left: 141px;
        fill: #F3C653;
    }
}

